.content-reveal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem; /* added margin top */
  
}

.content {
  background-image: url('../../pictures/hex.jpg');
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 60px !important;
  left: 50%;
  transform: translate(-50%, -50%) scale(0, 1);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1.3) 0.3s;
  z-index: 1;
  width: 340px;
  color: white;
  padding: 1rem;
  border-radius: 15%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.content.revealed {
  transform: translate(-50%, -50%) scale(1, 1);
}

.background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0, 1);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1.3) 0s;
  z-index: 0;
  width: 100%;
  height: 50%;
  background-image: url("https://picsum.photos/1200/800");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 30px));
}

.background.revealed {
  transform: translate(-50%, -50%) scale(1, 1);
}

.toggle-button {
  /*position: absolute; */
  top: 2rem; /* changed position to top */
  left: 0rem;
  justify-content: center;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  border: orange;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
  font-size: 1.2rem;
  font-weight: bold;
  color: orange
}

.toggle-button:hover {
  background-color: #555;
}
