.reveal-y-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
  }
  
  .reveal-y-content {
    background-image: url('../../pictures/hex.jpg');
    background-repeat: repeat;
    background-position: right;
    background-size: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    bottom: 10%;   
    
    transform: translate(-50%, -50%) scale(0, 1);
    transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1.3) 0.3s;
    z-index: 1;
    color: #fff;
    padding: 1rem;
    border-radius: 15%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    
  } 
 

  .reveal-y-content.revealed > *  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .reveal-y-content.revealed {
    transform: translate(-50%, -50%) scale(1, 1);
  }
  
  .ybackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0, 1);
    transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1.3) 0s;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 30px));
  }
  
  .ybackground.revealed {
    transform: translate(-50%, -50%) scale(1, 1);
  }
  
  .toggle-y-button {
    /* position: absolute; */
    top: 0;
    right: 1rem;
    justify-content: center;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    border: orange;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    font-size: 1.2rem;
    font-weight: bold;
    color: orange
  }

  .toggle-y-button:hover {
    background-color: #555;
  }
  