.hydrokit{
    background-image: url('../pictures/hex.jpg'), url('../pictures/calm.jpg');
    background-blend-mode: screen !important;
    border-radius: 25px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}